.btn2 {
    position: absolute;
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--blue);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-size: 16px;
    font-weight: bold;
    top: 7%;
    right: 80%;
    cursor: pointer;
}